*{
               padding: 0px;
               margin: 0px;
               overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap');


body{
               font-family: sans-serif;
}




/* First WebPage Section */
.HomePage{
               position: absolute;
             height: 100vh;
             width: 100%;
             z-index: 1px;
           background-image: url("../images/Landscape.jpg");
           background-size: cover;
           background-repeat: no-repeat;
}

.navBar{
               display: flex;
               height: 131px;
               padding-left: 5%;
               padding-right: 5%;
               justify-content: space-between;
               align-items: center;
               background-color: #00000096;
}

.navBar ul{
               display: flex;
               width: 1000px;
               justify-content: space-between;
}

.navBar a{
               color: white;
               text-decoration: none;
               font-family:'Inter',sans-serif;
               font-weight: 200;
               font-size: 25px;
}

.presentation{
               display: flex;
               height: 78%;
               padding-left: 5%;
               padding-right: 5%;
}

.left{
               width: 50%;
               height: 99%;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
}

.left h1{
               font-family: "Kalnia", sans-serif; 
               color: white;
               font-size: 80px;
               font-weight: bold;
}

.left p{
               font-family: 'Inter',sans-serif;
               color: white;
               font-size: 25px;
}

.left button{
               background-color: rgba(255, 255, 255, 0.26);
               color: white;
               width: 150px;
               height: 45px;
               border-radius: 50px;
               font-size: 25px;
               outline: none;
               border: solid 1px white;
               cursor: pointer;
}

.right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img0{
  position: absolute;
  z-index: 2;
  right: 50px;
}

.img1{
  position: absolute;
  z-index: 1;
  right: 245px;
}

.img2{
  position: absolute;
  z-index: 0;
  right: 400px;
}


/***********************************************************************/
/* Second WebPage Section */
.gallery{
               height: 100vh;
               width: 100%;
               background-color: black;
               position: absolute;
               top: 100vh;
}

.gallery h1{
               color: white;
               font-size: 50px;
}

.galTitle{
               width: 100%;
               display: flex;
               justify-content: center;
              align-items: baseline;
}

.rect{
               width: 300px;
               height: 2px;
               background-color: white;
}
